<div class="jumbotron jumbotron-fluid custom-bg">
  <div class="container">
      <h1 class="display-4">QuestionMark</h1>
      <p class="lead">The crowd sourcing question bank generating website.</p><br>
  </div>
  </div>
<mat-toolbar style="background-color: lightblue;" class="navbar" >
  <div>QUESTION MARK</div>
  <div>
    <div>
      <span class="btn"><button data-inline="true">ADD QUESTION</button></span>
      <span class="btn"><button>GENERATE PDF</button></span>
    </div>
  </div>
</mat-toolbar>