<div class="jumbotron jumbotron-fluid custom-bg">
  <img src="https://cdn.discordapp.com/attachments/783687878952878080/958604833374478346/qpaper.png" width="100" 
  height="100" style="float: left;" />
  <div class="container">
      <h1 class="display-4">QuestionMark</h1>
      <p class="lead">The crowd sourcing question bank generating website.</p><br>
  </div>
  </div>
<mat-toolbar style="background-color: #0FDDAF" class="navbar" >
  <div>QUESTION MARK</div>
  <div>
    <div>
      <span class="btn"><button data-inline="true" (click)="navadd()">ADD QUESTION</button></span>
      <span class="btn"><button >GENERATE PDF</button></span>
      <span class="btn"><button data-inline="true" (click)="navverify()">VERIFY</button></span>
    </div>
  </div>
</mat-toolbar>